include logic/vars
include logic/mixins
doctype html
html(lang="en")
    head
        include includes/head
        block title
            title Index
    body
        include includes/header
        block Body 
            div From Index
        include includes/footer
