- 
    var top_header_menu = [
        { "hasIcon": "true", "hasText": "false","icon": 'fas fa-home',"text": ""},
        { "hasIcon": "false", "hasText": "true","icon": "","text": "المنتديات"},
        { "hasIcon": "false", "hasText": "true","icon": "","text": "Media"},
        { "hasIcon": "false", "hasText": "true","icon": "","text": "الأعضاء"},
        { "hasIcon": "true", "hasText": "true","icon": 'fas fa-sign-in-alt',"text": "تسجيل الدخول"},
    ]